*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
  display: block;
}

.container {
  margin: 20px auto;
  width: 60%;
}

.preview {
  background-color: #dadada;
  margin: 1% 0;
  width: 90%;
  padding: 25px 25px;
  max-height: 400px;
}

.baku {
  background-image: url('../images/baku.jpg');
  background-position: center;
}

.london {
  background-image: url('../images/london.png');
  background-position: center;
}

.madrid {
  background-image: url('../images/madrid.jpg');
  background-position: center;
}

.rome {
  background-image: url('../images/rome.jpg');
  background-position: center;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  div {
    margin: 1%;
    width: 48%;
  }
  @media screen and (min-width: 769px) and (max-width: 1600px) {
  div {
    margin: 1%;
    width: 48%;
  }
